@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url(/font/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Pacifico;
  src: url(/font/Pacifico-Regular.ttf) format("truetype");
  font-style: normal;
}

/* #top-h{
  top: 0% !important;
} */

.loader {
  border: 4px solid rgba(255, 255, 255, 0.2); /* Light transparent border */
  border-top: 4px solid white; /* The animated solid border */
  border-radius: 50%; /* Makes it a circle */
  width: 40px; /* Size of the loader */
  height: 40px;
  animation: spin 1s linear infinite; /* Rotates indefinitely */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start position */
  }
  to {
    transform: rotate(360deg); /* End position */
  }
}

